<template>
  <div>
    <div class="add-env">
      <div class="evn">
      <el-input placeholder="Please input name" v-model="name" :maxlength="20"></el-input>
      </div>
      <div class="env">
        <el-select v-model="envvalue" @change="getValue">
          <el-option v-for="item in envoptions" :key="item.value" :label="item.label" :value="item"></el-option>
        </el-select>
      </div>
      <div class="env">
        <el-input placeholder="Please input ip" v-model="ip" :maxlength="12"></el-input>
      </div>
      <div class="env" style="padding-bottom:10px;">
        <el-input placeholder="Please input port" v-model="port" type="number" :maxlength="10"></el-input>
      </div>
      <div class="username" style="padding-bottom:10px;">
        <el-input placeholder="Please input username" v-model="username" :maxlength="10"></el-input>
      </div>
      <div class="password" style="padding-bottom:10px;">
        <el-input placeholder="Please input password" v-model="password" type="password" :maxlength="10"></el-input>
      </div>
      <el-button type="primary" @click="handleAdd">Add</el-button>
      <el-button type="primary" @click="handleReset">Reset</el-button>
    </div>
    <div>
      <el-table :data="tableData" class="tb-edit"  border :header-row-class-name="'custom-table-header'">
        <el-table-column label="Name" width="180" align='center'>
          <template slot-scope="scope">
            <el-input size="small" v-model="scope.row.name" placeholder="Please input" @change="handleEdit(scope.$index, scope.row)"></el-input><span>{{scope.row.name}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Env" align='center'>
          <template slot-scope="scope">
            <el-input size="small" v-model="scope.row.env" placeholder="Please input" @change="handleEdit(scope.$index, scope.row)"></el-input><span>{{scope.row.env}}</span>
          </template>
        </el-table-column>
        <el-table-column label="IP" width="180" align='center'>
          <template slot-scope="scope">
            <el-input size="small" v-model="scope.row.ip" placeholder="Please input" @change="handleEdit(scope.$index, scope.row)"></el-input><span>{{scope.row.ip}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Port" width="180" align='center'>
          <template slot-scope="scope">
            <el-input size="small" v-model="scope.row.port" placeholder="Please input" @change="handleEdit(scope.$index, scope.row)"></el-input><span>{{scope.row.port}}</span>
          </template>
        </el-table-column>
        <el-table-column label="UserName" width="180" align='center'>
          <template slot-scope="scope">
            <el-input size="small" v-model="scope.row.username" @change="handleEdit(scope.$index, scope.row)"></el-input><span>{{scope.row.username}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Password" width="180" align='center'>
          <template slot-scope="scope">
            <el-input size="small" v-model="scope.row.password" @change="handleEdit(scope.$index, scope.row)"></el-input><span>{{scope.row.password}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="180" align='center'>
            <template slot-scope="scope">
                <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
            </template>
        </el-table-column>
      </el-table>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  name: 'Env',
  data () {
    return {
      tableData: [],
      envvalue: '',
      envoptions: [{
        value: '0',
        label: 'pri'
      }, {
        value: '1',
        label: 'test'
      }, {
        value: '2',
        label: 'main'
      }
      ],
      name: '',
      ip: '',
      port: '',
      username: '',
      password: ''
    }
  },
  methods: {
    handleEdit (index, row) {
      console.log(index, row)
    },
    handleDelete (index, row) {
      let that = this
      let data = qs.stringify({'id': row.id})
      axios.post('/api/deleteenv/', data)
        .then(function (res) {
          console.log(res)
          alert(res.data.message)
          if (res.data.status)
          {
            let index = 0
            let remove_index = 0
            that.tableData.forEach((item) => {
              if (item.id === row.id) {
                remove_index = index
              }
              index += 1
            })
            that.tableData.splice(remove_index, 1)
          }
        })
    },
    handleReset () {
      this.name = ''
      this.ip = ''
      this.port = ''
      this.username = ''
      this.password = ''
      this.envvalue = null
    },
    handleAdd () {
      let _this = this
      let data = qs.stringify({name: this.name, env: this.envvalue.label, ip: this.ip, port: this.port, username: this.username, password: this.password})
      axios.post('/api/saveenv/', data)
        .then(function (res) {
          console.log(res)
          if (res.data.status) {
            _this.tableData.push({id: res.data.id, name: _this.name, env: _this.envvalue.label, ip: _this.ip, port: _this.port, username: _this.username, password: _this.password})
            _this.handleReset()
          } else {
            alert(res.data.message)
          }
        })
    },
    getValue: function (value) {
      this.value = value.label
    },
    getTableData: function () {
      let _this = this
      let data = qs.stringify({})
      axios.post('/api/getenv/', data)
        .then(function (res) {
          console.log(res)
          _this.tableData = res.data
        })
    }
  },
  mounted () {
    this.getTableData()
  }
}
</script>

<style scoped>
.tb-edit .el-input {
  display: none
}
.tb-edit .current-row .el-input {
    display: block
}
.tb-edit .current-row .el-input+span {
  display: none
}
.add-env {
  width: 20%;
  position: center;
  text-align: left;
  padding-bottom:20px;
}
.env{
  padding-top:10px;
}

</style>
