<template>
  <div id="execute">
    <div class="execute_left">
      <label class="treename">TESTSUITES</label>
      <el-tree :data="data" ref="tree" show-checkbox highlight-current :props="defaultProps" node-key="id" @node-click="handleNodeClick"></el-tree>
    </div>
    <div class="execute_right">
          <div class="name">
            <el-input placeholder="Please input name" v-model="name" :maxlength="20"></el-input>
          </div>
          <div class="env">
            <el-select v-model="envvalue" @change="getValue" placeholder="Please select environment" style="width: 250px; padding: 10px">
              <el-option v-for="item in envoptions" :key="item.value" :label="item.label"  :value="item"></el-option>
            </el-select>

          </div>
          <div>
              <el-select v-model="durationvalue" @change="getHours" placeholder="Please select duration" style="width: 200px; padding: 10px">
                <el-option v-for="item in durationoptions" :key="item.value" :label="item.label" :value="item"></el-option>
              </el-select>
              <div v-show="regular">
              <el-select v-model="hour"  @change="getValue" placeholder="Please select hour" style="width: 160px; padding: 10px">
                <el-option v-for="hour in hours" :label="hour.label"  :value="hour.value" :key="hour.label"></el-option>
              </el-select>
            </div>
          </div>

        <div class="wbtn">
          <el-button type="primary" @click="handleSave">Save</el-button>
          <el-button type="primary" @click="handleReset">Reset</el-button>
        </div>

        <div>
          <el-dialog title="测试用例内容" :visible.sync="isLeaf">
            <!--<div v-html="testcaseContent">-->
            <!--</div>-->
            <div id="editor">{{testcaseContent}}</div>
          </el-dialog>
        </div>


        <div style="padding-top:20px;">
          <el-table :data="tableDataEnd" class="tb-edit" border :header-row-class-name="'custom-table-header'" style="width: 100%">
            <el-table-column label="Name" width="120">
              <template slot-scope="scope">
                <span>{{scope.row.name}}</span>
              </template>
            </el-table-column>
            <el-table-column label="Testcase" >
              <template slot-scope="scope">
                <span v-html="scope.row.testcase"></span>
              </template>
            </el-table-column>
            <el-table-column label="Env" width="70" align='center'>
              <template slot-scope="scope">
                <el-input size="small" v-model="scope.row.env" placeholder="Please input" @change="handleEdit(scope.$index, scope.row)"></el-input><span>{{scope.row.env}}</span>
              </template>
            </el-table-column>
            <el-table-column label="ExecuteType" width="105" align='center'>
              <template slot-scope="scope">
                <el-input size="small" v-model="scope.row.duration" placeholder="Please input" @change="handleEdit(scope.$index, scope.row)"></el-input><span>{{scope.row.duration}}</span>
              </template>
            </el-table-column>
            <el-table-column label="Hour" width="70" align='center'>
              <template slot-scope="scope">
                <el-input size="small" v-model="scope.row.hour" placeholder="Please input" @change="handleEdit(scope.$index, scope.row)"></el-input><span>{{scope.row.hour}}</span>
              </template>
            </el-table-column>
            <el-table-column label="Status" width="80" align='center'>
              <template slot-scope="scope">
                <span v-if="scope.row.status === '执行完成'" style="color: red">{{scope.row.status}}</span>
                <span v-if="scope.row.status === '执行中'" style="color: green">{{scope.row.status}}</span>
                <span v-if="scope.row.status === '创建'">{{scope.row.status}}</span>
              </template>
            </el-table-column>
            <el-table-column label="UpdateTime" width="160" align='center'>
              <template slot-scope="scope">
                <span>{{scope.row.updatetime}}</span>
              </template>
            </el-table-column>
            <el-table-column label="Operation"  width="90" align='center'>
                <template slot-scope="scope">
                    <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                </template>
            </el-table-column>
          </el-table>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[10, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalItems">
          </el-pagination>
        </div>
    </div>
  </div>

</template>
<script>
import qs from 'qs'
import axios from 'axios'
import ace from 'ace-builds'
export default {
  name: 'Execute',
  data () {
    return {
      data: [],
      activeIndex: '1',
      envoptions: [],
      durationoptions: [{
        value: '0',
        label: '立即'
      }, {
        value: '1',
        label: '定时'
      }
      ],
      durationvalue: '',
      envvalue: '',
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      isLeaf: false,
      selectedTestsuite: '',
      selectedTestcase: '',
      testcaseList: [],
      testcaseContent: '',
      name: '',
      hours: [],
      hour: '',
      regular: false,
      totalItems: 0,
      pageSize: 10,
      currentPage: 1,
      tableDataBegin: [],
      tableDataEnd: [],
      filterTableDataEnd:[],
      flag:false
    }
  },
  methods: {
    handleReset: function () {
      this.name = ''
      this.data.defaultProps = []
      this.envvalue = null
      this.durationvalue = null
      this.$refs.tree.setCheckedKeys([])
      this.hour = ''
      this.regular = false
    },
    handleSave: function () {
      let testsuite = this.$refs.tree.getCheckedNodes()

      let that = this
      let data = qs.stringify({testsuite: testsuite, name: that.name, env: that.envvalue, duration: that.durationvalue, hour: that.hour})
      debugger
      const formatTime = date => {
        const year = date.getFullYear()
        const month = date.getMonth() + 1
        const day = date.getDate()
        const hour = date.getHours()
        const minute = date.getMinutes()
        const second = date.getSeconds()

        return [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute, second].map(formatNumber).join(':')
      }

      const formatNumber = n => {
        n = n.toString()
        return n[1] ? n : '0' + n
      }

      if (testsuite.length === 0)
      {
        alert("请选择添加执行的测试用例")
        return
      }

      if ( that.name === '')
      {
        alert("请输入执行的名称")
        return
      }

      if ( that.envvalue === '' || that.envvalue === null)
      {
        alert("请选择执行环境")
        return
      }


      if ( that.durationvalue === '' || that.durationvalue === null)
      {
        alert("请选择执行方式")
        return
      }


      if (that.durationvalue.label === '定时') {
        if ( that.hour === '' || that.hour === null)
        {
          alert("请选择定时执行的时间")
          return
        }
      }

      axios.post('/api/saveexecute/', data)
        .then(function (res) {
          if (res.data.status === true)
          {
           let testcase = ''
            testsuite.forEach((item) => {
              if (item.children === undefined) {
                testcase += item.parent + "." + item.label + '<br/>'
              }
            })
            that.tableDataBegin.push({testcase: testcase, name: that.name, env: that.envvalue.label, duration: that.durationvalue.label, status: '创建', updatetime: formatTime(new Date()), hour: that.hour})
            that.totalItems += 1
            that.handleReset()
          } else {
            alert(res.data.message)
          }
        })
    },
    getValue: function (value) {
      this.value = value.label
    },
    getEnv: function () {
      let _this = this
      let d = qs.stringify({})
      axios.post('/api/getenv/', d)
        .then(function (res) {
          res.data.forEach((item) => {
            _this.envoptions.push({
              value: item.name,
              label: item.name
            })
          })
        })
    },
    getTestSuite: function () {
      let _this = this
      let d = qs.stringify({})
      axios.post('/api/gettestsuite/', d).then(function (res) {
        let id = 0
        res.data.forEach((item) => {
          id = id + 1
          let children = []
          item.children.forEach((subItem) => {
            id = id + 1
            children.push({
              id: id,
              label: subItem.label,
              content: subItem.content,
              parent: item.label
            })
          })
          _this.data.push({
            id: id,
            label: item.label,
            children: children
          })
        })
      })
    },
    handleNodeClick: function (data) {
      if ('children' in data){
        this.isLeaf = false
        this.selectedTestsuite = data.label
        this.selectedTestcase = ''
        this.getTestcaseList(data.label)
      } else {
        this.isLeaf = true
        this.selectedTestsuite = data.parent
        this.selectedTestcase = data.label
        this.getTestcaseContent(data.parent, data.label)
    //      setTimeout(function () {
    //
    // }, 200)
        var editor = ace.edit("editor");
        editor.setValue(this.testcaseContent)
      }
    },
    handleEdit (index, row) {
      console.log(index, row)
    },
    handleDelete: function (index, row) {
      let that = this
      let d = qs.stringify({'id': row.id})
      axios.post('/api/deleteexecute/', d).then(function (res) {
        alert(res.data.message)
        if (res.data.status)
        {
          let index = 0
          let remove_index = 0
          that.tableDataEnd.forEach((item) => {
            if (item.id === row.id)
            {
              remove_index = index
            }
            index += 1
          })
          that.tableDataEnd.splice(remove_index, 1)
          that.totalItems -= 1
        }
      })
    },
    getTestcaseList: function (testsuiteName) {
      this.testcaseList = []
      this.data.forEach((item) => {
        if (item.label === testsuiteName && 'children' in item) {
          item.children.forEach((subItem) => {
            this.testcaseList.push(subItem.label)
          })
        }
      })
    },
    getTestcaseContent: function (testsuiteName, testcaseName) {
      this.data.forEach((item) => {
        if (item.label === testsuiteName && 'children' in item) {
          item.children.forEach((subItem) => {
            if (subItem.label === testcaseName) {
              this.testcaseContent = subItem.content
            }
          })
        }
      })
    },
    getExecutes: function () {
      let that = this
      let d = qs.stringify({})
      axios.post('/api/getexecute/', d).then(function (res) {
        if (res.status === 200){
          that.totalItems = res.data.length

          res.data.forEach((item) => {
            // 0: new 1: executing 2: completed 3: removed
            var status
            if (item.status === 0) {
              status = '创建'
            } else if (item.status === 1){
              status = '执行中'
            } else if (item.status === 2){
              status = '执行完成'
            } else if (item.status === 3){
              status = '移除'
            }
            let testcase = ''
            item.testcase.forEach((c) => {
              testcase += c + '<br/>'
            })

            var tmp = {'id': item.id, 'name': item.name, 'env':item.env, 'status': status, 'duration': item.duration, 'hour': item.hour, 'updatetime': item.updatetime, 'testcase': testcase}
            that.tableDataBegin.push(tmp)
          })

          if (that.totalItems > that.pageSize){
            for (let index = 0; index < that.pageSize; index++) {
              that.tableDataEnd.push(that.tableDataBegin[index]);
            }
          } else {
            that.tableDataEnd = that.tableDataBegin;
          }
        }
      })
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.pageSize = val;
      this.handleCurrentChange(1);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.currentPage = val;
      //需要判断是否检索
      if (!this.flag) {
        this.currentChangePage(this.tableDataBegin);
        console.log(this.tableDataEnd);
      } else {
        this.currentChangePage(this.filterTableDataEnd);
        console.log(this.tableDataEnd);
      }
    },
    currentChangePage(list) {
      let from = (this.currentPage - 1) * this.pageSize;
      let to = this.currentPage * this.pageSize;
       this.tableDataEnd = [];
       for (; from < to; from++) {
         if (list[from]) {
            this.tableDataEnd.push(list[from]);
         }
       }
    },
    getHours: function (value) {
      this.value = value.label
      if (this.value === '定时'){
        this.regular = true
      } else {
        this.hour = ''
        this.regular = false
      }
      if (this.hours.length === 0){
        for(let i=0; i <24; i++){
          this.hours.push({'label': i, 'value': i})
        }
      }
    }
  },
  mounted () {
    this.getTestSuite()
    this.getExecutes()
    this.getEnv()

    // this.getHours()
  },
}
</script>

<style scoped>
  #editor {
    /*position: absolute;*/
    width: 100%;
    height: 400px;
}
  .name{
    width: 460px;
    padding: 10px;
  }
  .wbtn{
    padding: 10px;
  }
  .treename{
    font-style: italic;
  }
  .tb-edit{
    text-align: center;
  }
  .tb-edit .el-input {
  display: none
}

.tb-edit .current-row .el-input+span {
  display: none
}
.add-env {
  width: 20%;
  position: center;
  text-align: left;
}
.selectDiv{
  padding-top:10px;
}
#execute{
  overflow: hidden;
  padding-bottom: 30px;
}
#execute .execute_left{
  float: left;
  width: 19%;
  min-height: 500px;
  /*background: greenyellow ;*/
  /*rgba(240, 173, 78,0.5);*/
  overflow: hidden;
  padding-bottom: 50px;
  margin-right:1%;
}
#execute .execute_right{
  float:left;
  width:80%;
}
.el-tree{
  background:rgba(240, 173, 78,0.1);
}

</style>
