<template>
  <div>
      <div>
        <el-menu
          :default-active="activeIndex"
          class="el-menu-demo"
          mode="horizontal"
          @select="handleSelect"
          background-color="#333"
          text-color="#fff"
          active-text-color="#ffd04b">
          <el-menu-item index="1">测试执行</el-menu-item>
          <el-menu-item index="2">测试环境</el-menu-item>
          <el-menu-item index="3">测试报告</el-menu-item>
        </el-menu>
      </div>
      <div class="el-main">
          <env v-if="isEnv"></env>
          <report v-if="isReport"></report>
          <execute v-if="isExecute"></execute>
      </div>
      <el-footer>@Waykichain</el-footer>

  </div>
</template>

<script>
import Env from '@/components/Env'
import Report from '@/components/Report'
import Execute from '@/components/Execute'
export default {
  name: 'HelloWorld',
  components: {
    Env,
    Execute,
    Report
  },
  data () {
    return {
      activeIndex: '1',
      isEnv: false,
      isExecute: true,
      isReport: false
    }
  },
  methods: {
    handleSelect (key) {
      this.isEnv = false
      this.isExecute = false
      this.isReport = false
      if (key === '1') {
        this.isExecute = true
      } else if (key === '2') {
        this.isEnv = true
      } else if (key === '3') {
        this.isReport = true
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  
  .el-footer {
    background-color: #777;
    color: #fff;
    text-align: center;
    line-height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    z-index: 2000;
  }
  .el-menu-demo {
    background-color: #333;
  }
  .el-main {
    background-color: #fff;
    color: #333;
    text-align: left;
    min-height: 500px;
    margin:20px;
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
     background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
     background-color: #d3dce6;
  }

</style>
