<template>
  <div id="report">
    <div class="report_left">
      <label class="treename">REPORTS</label>
      <el-tree :data="data" ref="tree" highlight-current :props="defaultProps" node-key="id" @node-click="handleNodeClick"></el-tree>
    </div>

  </div>



</template>

<script>
import qs from 'qs'
import axios from 'axios'
export default {
  name: 'Report',
  data () {
    return {
      data: [],
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      src: ''
    }
  },
  methods: {
    handleNodeClick: function (data) {
      console.log(data)
      if ('parent' in data) {
        this.data.forEach((item) => {
          if (item.label === data.parent)
          {

            window.open(data.name)
          }
        })
      }
    },
    getReports: function () {
      let that = this
      let d = qs.stringify({})
      axios.post('/api/gethistory/', d).then(function (res) {
        res.data.forEach((item) => {
          let children = []
          item.children.forEach((subItem) => {
            children.push({
              label: subItem.index,
              name: subItem.name,
              parent: item.label
            })
          })
          that.data.push({
            label: item.label,
            children: children
          })
        })
      })
    }
  },
  mounted() {
    this.getReports()
  }
}
</script>

<style scoped>

#report .report_left{
  float: left;
  width: 19%;
  min-height: 500px;
  /*background: greenyellow ;*/
  /*rgba(240, 173, 78,0.5);*/
  overflow: hidden;
  padding-bottom: 50px;
  margin-right:1%;
}
#report .report_right{
  float:left;
  width:80%;
}

</style>
