<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 0px;*/
  padding:0;
}
body{
  margin:0;
  background:#f5f5f5;
}
.custom-table-header {
    background-color: #fafafa !important;

}
.custom-table-header th {
        background: transparent;
        text-align: center;
    }
  .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
  background:rgba(240, 173, 78,0.6);
}
.el-tree-node__content:hover{
  background:rgba(240, 173, 78,0.6);
}
</style>
